@import url('./map-sidebar.css');

*{
    font-family: 'Satoshi', sans-serif !important;
    scroll-behavior: smooth !important;
}

body{
    scroll-behavior: smooth;
    /*background-color: #F0F5F9 !important;*/
}

.bg-main{
    background-color: #F0F5F9 !important;
}

.center{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.circle-quarter::after {
  content: '';
  position: absolute;
  right: -49px;
  top: -60px;
  width: 116px;
  height: 107px;
  border-radius: 50%;
  background: #DEF1FB;
  z-index: 1;
  opacity: 75%;
}